<!DOCTYPE html>
<html lang="en-AU" dir="ltr">
<head>
	{% include "_partials/head.html" %}
</head>
<body class="home-page">
	{% include "_partials/header.html" %}
	<div class="wrapper reveal-side-navigation">
		<div class="wrapper-inner">
			<!-- Content -->
			<div class="content clearfix">
				<!-- Intro Title Section -->
				<div class="section-block intro-title-1 bkg-pink color-white mb-60">
					<div class="row">
						<div class="column width-12">
							<div class="title-container">
								<div class="title-container-inner center">
									<h1 class="title-xlarge horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;">Yuka Yanai</h1>
									<p class="title-medium">UX Designer</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Intro Title Section End -->

				<!-- Portfolio Grid Section -->
				<div class="section-block grid-filter-menu no-padding-top center">
					<div class="row no-padding">
						<div class="column width-12">
							<h2 class="mb-30">Recent Projects</h2>
							<ul>
								<li><a class="active" href="#" data-filter="*">All</a></li>
								<li><a href="#" data-filter=".design">UX Design</a></li>
								<li><a href="#" data-filter=".web">Web</a></li>
								<li><a href="#" data-filter=".accessibility">Accessibility</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="section-block grid-container fade-in-progressively no-padding-top" data-layout-mode="masonry" data-animate-filter-duration="700" data-set-dimensions data-animate-resize data-animate-resize-duration="0" data-module="hidenonau">
					<div class="row"> 
						<div class="column width-12">
							<div class="row grid content-grid-3">
                <div class="grid-item design nonau" style="display: none;">
									<div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
										<a class="overlay-link" href="portfolio/hdr/index.html">
											<img src="images/portfolio/hdr/grid-landscape.jpg" alt=""/>
											<span class="overlay-info">
												<span>
													<span>
														<span class="project-title">Students Skills Assessment Tool</span>
													</span>
												</span>
											</span>
										</a>
									</div>
								</div>
								<div class="grid-item web design portrait nonau" style="display: none;">
									<div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
										<a class="overlay-link" href="portfolio/qutex/index.html">
											<img src="images/portfolio/qutex/grid-portrait.jpg" alt=""/>
											<span class="overlay-info">
												<span>
													<span>
														<span class="project-title">Professional and Executive Education</span>
													</span>
												</span>
											</span>
										</a>
									</div>
								</div>
								<div class="grid-item web accessibility landscape">
									<div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
										<a class="overlay-link" href="portfolio/wcag/index.html">
											<img src="images/portfolio/wcag/grid-landscape.jpg" alt=""/>
											<span class="overlay-info">
												<span>
													<span>
														<span class="project-title">WCAG Compliant Prototype</span>
													</span>
												</span>
											</span>
										</a>
									</div>
								</div>
								<div class="grid-item design">
									<div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
										<a class="overlay-link" href="portfolio/koala/index.html">
											<img src="images/portfolio/koala/grid-landscape.jpg" alt=""/>
											<span class="overlay-info">
												<span>
													<span>
														<span class="project-title">Interactive Koala Map</span>
													</span>
												</span>
											</span>
										</a>
									</div>
								</div>
								<div class="grid-item web design landscape">
									<div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
										<a class="overlay-link" href="portfolio/openspace/index.html">
											<img src="images/portfolio/openspace/grid-landscape.jpg" alt=""/>
											<span class="overlay-info">
												<span>
													<span>
														<span class="project-title">Open Colleges Design System</span>
													</span>
												</span>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="section-block center mb-50">
					<h2 class="mb-30">Note</h2>
					<div class="row">
						<div class="column width-6">
							<iframe title="Note article: Interactive koala map" class="note-embed" src="https://note.com/embed/notes/n1c901cf0b6d3" style="border: 0; display: block; padding: 0px; margin: 10px 0px; position: static; visibility: visible;" height="400"></iframe><script async src="https://note.com/scripts/embed.js" charset="utf-8"></script>
						</div>
						<div class="column width-6">
							<iframe title="Note article: Accessibility tools" class="note-embed" src="https://note.com/embed/notes/nf74fd6665112" style="border: 0; display: block; padding: 0px; margin: 10px 0px; position: static; visibility: visible;" height="400"></iframe>
						</div>
					</div>
				</div>
			</div>
			<!-- Content End -->
			
			{% include "_partials/footer.html" %}

		</div>
	</div>

	{% include "_partials/js.html" %}
	{% include "_partials/ga.html" %}
</body>
</html>
