{% from 'macros/portfolio.html' import slider, pagination %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% include "_partials/head.html" %}
</head>

<body class="bsociable">

	{% include "_partials/menu_mobile.html" %}

	<div class="wrapper reveal-side-navigation">
		<div class="wrapper-inner">

			{% include "_partials/header.html" %}

			<!-- Content -->
			<div class="content clearfix">

				{{ slider("bsociable") }}

				<!-- Intro Section -->
				<section id="brief" class="section-block">
					<div class="row no-margin-bottom">
						<div class="column width-10 offset-1 center horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
							<h1 data-animate-in="preset:scaleOut;duration:1000ms;" class="tm-caption mb-30">Bsociable</h1>
							<p class="lead weight-light">At Bsociable, I helped with providing feedback to improve their UI & UX for their app. I worked closely with the devs to bring the app to life focusing on the onboarding journey for the new users.</p>
						</div>
					</div>
				</section>
				<!-- Intro Section End -->

				<!-- Wireframes -->
				<div class="section-block bkg-teal">
					<div class="row">
						<div class="column width-12 center color-white">
							<h2>Wireframes</h4>
							<p>Proposed wireframes for the onboarding process</p>
							<img src="/images/portfolio/bsociable/wireframes.png" alt=""/>
						</div>
					</div>
				</div>
				<!-- Wireframes End -->

				<!-- UI -->
				<div class="section-block bkg-charcoal">
					<div class="row">
						<h2 class="center color-white mb-60">UI Design</h2>
						<div class="column width-4 offset-1 color-white pt-60">
							<h4>The Problem</h4>
							<p>This social event planner app has so many different features that is not clearly visible to users. One of the many reasons was, it did not have an onboarding process for new users to learn about the different features they could use to create an efficient way to plan their events.</p>
							<h4>The Objectives</h4>
						<p>&#8729; &nbsp;&nbsp;Create a simple step by step process to add profile details for new users<br />
							&#8729; &nbsp;&nbsp;Showcase and prioritise the features of Bsociable<br />
							&#8729; &nbsp;&nbsp;Create consistency throughout the app<br />
							&#8729; &nbsp;&nbsp;Group features in a logical manner<br />
							&#8729; &nbsp;&nbsp;Introduce friendly and fun elements to enhance user experience</p>
						</div>
						<div class="column width-5 offset-1 center mb-40">
							<video width="310" controls>
								<source src="/media/bsociable.mp4" type="video/mp4">
								Your browser does not support the video tag.
							</video>
						</div>
					</div>
				</div>
				<div class="section-block">
					<div class="row">
						<div class="column width-12">
							<img src="/images/portfolio/bsociable/uimockup.png" />
						</div>
					</div>
				</div>
				<!-- UI -->

				{{ pagination("shiftcare", "openspace") }}

			</div>
			<!-- Content End -->

			{% include "_partials/footer.html" %}

		</div>
	</div>

	{% include "_partials/js_portfolio.html" %}	
	{% include "_partials/ga.html" %}

</body>
</html>