{% from 'macros/portfolio.html' import slider, pagination %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% include "_partials/head.html" %}	
</head>

<body class="games" data-module="hidenonau">

		<div class="wrapper reveal-side-navigation nonau" style="display:none;">
			<div class="wrapper-inner">

			{% include "_partials/header.html" %}

			<!-- Content -->
			<div class="content clearfix">
				
				{{ slider("games") }}
				
				<!-- Intro Section -->
				<section id="content" class="section-block">
					<div class="row">
						<div class="column width-10 offset-1 center horizon mb-20" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
							<h1 data-animate-in="preset:scaleOut;duration:1000ms;" class="tm-caption mb-30">Gaming Ecommerce Website</h1>
						</div>
						<div class="column width-10 offset-1 center mb-100">
							<p class="lead weight-light">Revamping the user experience of an e-commerce gaming website through a comprehensive redesign project</p>
							<p class="unsplash-att">Header photo by <a href="https://unsplash.com/pt-br/@sorakhan?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">Sora Khan</a> on <a href="https://unsplash.com/photos/bLteUOW7_Ns?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">Unsplash</a></p>
						</div>
						<div class="column width-8 offset-2 left mb-10">
							<h2>Background</h2>
						</div>
						<div class="column width-8 offset-2 left mb-60">
							<p class="role"><strong>Role:</strong> I undertook the role of a UI/UX designer.
							<br /><strong>Methods used:</strong> We used various methods such as current state analysis by creating a journey map, conducted user interviews, mind mapping, user testing.
							<br /><strong>Tools used:</strong> Google Analytics, Hotjar, Miro, Figma
							<br /><strong>Team members:</strong> PO, UX designer, a frontend developer, a backend developer, a QA developer.
							<br /><strong>Stakeholders:</strong> Customers, Marketing manager.
							</p>		
						</div>
						<div class="column width-8 offset-2 left mb-60">
							<h2>Internal Application</h2>
							<p>This was my first project at EB Games. The goal was to redesign and restructure the merchandiser's application, while maintaining its value.</p>
							<p>In 7 years of selling and merchandising products online, the business has evolved and grown to the extent of merchandising the same products three times, and triplicating the effort for development and business to build and maintain three applications.</p>
							<p>Objectives:</p>
							<ul>
								<li>One interface</li>
								<li>Product taxonomy Structure</li>
								<li>Create consistent product data</li>
								<li>Group logically</li>
								<li>Ability to edit products in bulk</li>
								<li>Remove redundant data and attributes</li>
								<li>Reduce Dev support</li>
							</ul>
						<div class="column width-12 center mb-60">
							<img class="mb-20" src="/images/portfolio/games/gamesmpcui.png" alt="UI Design"/>
							<p class="caption">Internal application UI design</p>
						</div>
					</div>
				</div>

				<section class="section-block replicable-content bkg-grey-ultralight">
					<div class="row">
						<div class="column width-8 offset-2 left mb-20">
							<h2>Redesign website</h2>
							<p>The primary goal for this project was to create a responsive website that can be consumed by any devices and to create a unique discovery journey to customers.</p>
							<p><strong>UX Research</strong></p>
							<p>Customer journey mapping and identify problems with the current EB Games and Zing websites</p>
							<div class="column width-12 center mb-40">
								<img src="/images/portfolio/games/customerjourney.png" alt=""/>
							</div>
						</div>
					</div>
				</section>

				<section class="section-block replicable-content">
					<div class="row" data-animate-in="preset:slideInRightShort;duration:1000ms;" data-threshold="0.3">
						<div class="column width-8 offset-2 left mb-20">
							<h2 class="mb-30">Outcome</h2>
							<div class="column width-12 center">
								<img src="/images/portfolio/games/gamesui.png" alt=""/>
							</div>
						</div>
					</div>
				</section>

				{{ pagination("copilot", "koala") }}

			</div>
			<!-- Content End -->

			{% include "_partials/footer.html" %}

		</div>
	</div>

	{% include "_partials/js.html" %}
	{% include "_partials/ga.html" %}
	
</body>
</html>
