<!DOCTYPE html>
<html lang="en">
<head>
	{% include "_partials/head.html" %}	
</head>

<body class="shiftcare">

	<!-- Overlay Navigation Menu -->
	<div class="overlay-navigation-wrapper" data-no-scrollbar data-animation="scale-in">
		<div class="overlay-navigation-scroll-pane">
			<div class="overlay-navigation-inner">
				<div class="v-align-middle">
					<div class="overlay-navigation-header row collapse full-width">
						<div class="column width-12">
							<div class="navigation-hide overlay-nav-hide">
								<a href="#">
									<span class="icon-oc-close"></span>
								</a>
							</div>
						</div>
					</div>
					<div class="row collapse full-width">
						<div class="column width-12">
							<nav class="overlay-navigation pull-left clear-float-on-mobile">
								<ul>
									<li>
										<a href="/">Home</a>
									</li>
									<li>
										<a href="/about">About</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="overlay-navigation-footer row full-width">
						<div class="column width-12 no-padding">
							<p class="copyright no-margin-bottom">&copy; <script>document.write(new Date().getFullYear())</script> Yuka Yanai. All Rights Reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Overlay Navigation Menu End -->

	<div class="wrapper reveal-side-navigation">
		<div class="wrapper-inner">

			<!-- Header -->
			<header class="header header-fixed header-fixed-on-mobile header-transparent" data-bkg-threshold="100" data-compact-threshold="100">
				<div class="header-inner">
					<div class="row collapse full-width nav-bar reveal-side-navigation">
						<div class="column width-12 nav-bar-inner">
							<div class="logo">
								<div class="logo-inner">
									<a href="/"><img src="/images/logo-dark.png" alt="Nanairo Logo" /></a>
									<a href="/"><img src="/images/logo.png" alt="Nanairo Logo" /></a>
								</div>
							</div>
							<nav class="navigation nav-block secondary-navigation nav-right">
								<ul>
									<li class="aux-navigation hide">
										<!-- Aux Navigation -->
										<a href="#" class="navigation-show overlay-nav-show nav-icon">
											<span class="icon-oc-home"></span>
										</a>
									</li>
								</ul>
							</nav>
							<nav class="navigation nav-block primary-navigation nav-right">
								<ul>
									<li>
										<a href="/">Home</a>
									</li>
									<li>
										<a href="/about">About</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</header>
			<!-- Header End -->

			<!-- Content -->
			<div class="content clearfix">

				<!-- Back Top -->
				<div class="scroll-to-top">
					<a href="#" class="icon-angle-up"></a>
				</div>
				<!-- Back Top End -->

				<!-- Fullscreen Slider Section -->
				<section class="section-block featured-media tm-slider-parallax-container">

					<!-- Scroll Down -->
					<div class="scroll-down">
						<a href="#brief" class="scroll-link icon-angle-down"></a>
					</div>
					<!-- Scroll Down End -->

					<div class="tm-slider-container full-width-slider fixed-height" data-parallax data-animation="slide" data-scale-under="1140" >
						<ul class="tms-slides">
							<li class="tms-slide" data-image data-force-fit>
								<div class="tms-content">
									<div class="tms-content-inner center">
										<div class="row">
											<div class="column width-12">
											</div>
										</div>
									</div>
								</div>
								<img data-src="/images/portfolio/shiftcare/feature-fs.jpg" data-retina src="/images/blank.png" alt=""/>
							</li>
						</ul>
					</div>
				</section>
				<!-- Fullscreen Slider Section End -->

				<!-- Intro Section -->
				<section id="brief" class="section-block">
					<div class="row no-margin-bottom">
						<div class="column width-10 offset-1 center horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
							<h1 data-animate-in="preset:scaleOut;duration:1000ms;" class="tm-caption mb-30">ShiftCare</h1>
							<p class="lead weight-light">ShiftCare is a software that allows employers to manage rosters, notify staff, run timesheets and produce billing reports.</p>
						</div>
					</div>
				</section>
				<!-- Intro Section End -->

				<!-- UI -->
				<div class="section-block bkg-navy">
					<div class="row">
						<div class="column width-8 offset-2 center mb-40 color-white">
							<h2>UX Research</h2>
							<p>Research and ideation tools: Customer Journey maps, Feature lists, Feature Prioritisation Matrix</p>
						</div>
					</div>
					<div class="row">
						<div class="column width-4 offset-1 color-white left">
							<h4>The Goal</h4>
							<p>Create an efficient and user friendly interface and experience for employers and employees to easily manage their roster schedules.</p>
							<p>&#8729; &nbsp;&nbsp;UI Prototyping<br />
							&#8729; &nbsp;&nbsp;Interactivity and Animation<br />
							&#8729; &nbsp;&nbsp;Adaptation to All Device Screen Sizes<br />
							&#8729; &nbsp;&nbsp;Implementation with Developer<br />
							</p>
						</div>
						<div class="column width-5 offset-1 right">
							<img src="/images/portfolio/shiftcare/ux.png" alt=""/>
						</div>
					</div>
				</div>
				<div class="section-block">
					<div class="row">
						<div class="column width-12">
							<img src="/images/portfolio/shiftcare/ui.png" />
						</div>
					</div>
				</div>
				<!-- UI End -->

				<!-- Pagination Section -->
				<div class="section-block pagination-3">
					<div class="row">
						<div class="column width-12">
							<ul>
								<li><a class="pagination-previous" href="../nanairo/"><span class="icon-angle-left"></span></a></li>
								<li><a class="pagination-next" href="../bsociable/"><span class="icon-angle-right"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Pagination Section End -->

			</div>
			<!-- Content End -->

			{% include "_partials/footer.html" %}

		</div>
	</div>

	
	{% include "_partials/js.html" %}
	<script src="/javascripts/lib/template-functions.js"></script>
	<script src="/javascripts/lib/jquery.tm.summit.min.js"></script>
	<script src="/javascripts/lib/jquery.tm.swipe.min.js"></script>
	<script src="/javascripts/lib/jquery.tm.avalanche.min.js"></script>
	{% include "_partials/ga.html" %}


</body>
</html>