{% from 'macros/portfolio.html' import slider, pagination %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% include "_partials/head.html" %}	
</head>

<body class="shiftcare">

	{% include "_partials/menu_mobile.html" %}

	<div class="wrapper reveal-side-navigation">
		<div class="wrapper-inner">

			{% include "_partials/header.html" %}

			<!-- Content -->
			<div class="content clearfix">

				{{ slider("shiftcare") }}

				<!-- Intro Section -->
				<section id="brief" class="section-block">
					<div class="row no-margin-bottom">
						<div class="column width-10 offset-1 center horizon" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
							<h1 data-animate-in="preset:scaleOut;duration:1000ms;" class="tm-caption mb-30">ShiftCare</h1>
							<p class="lead weight-light">ShiftCare is a software that allows employers to manage rosters, notify staff, run timesheets and produce billing reports.</p>
						</div>
					</div>
				</section>
				<!-- Intro Section End -->

				<!-- UI -->
				<div class="section-block bkg-navy">
					<div class="row">
						<div class="column width-8 offset-2 center mb-40 color-white">
							<h2>UX Research</h2>
							<p>Research and ideation tools: Customer Journey maps, Feature lists, Feature Prioritisation Matrix</p>
						</div>
					</div>
					<div class="row">
						<div class="column width-4 offset-1 color-white left">
							<h4>The Goal</h4>
							<p>Create an efficient and user friendly interface and experience for employers and employees to easily manage their roster schedules.</p>
							<p>&#8729; &nbsp;&nbsp;UI Prototyping<br />
							&#8729; &nbsp;&nbsp;Interactivity and Animation<br />
							&#8729; &nbsp;&nbsp;Adaptation to All Device Screen Sizes<br />
							&#8729; &nbsp;&nbsp;Implementation with Developer<br />
							</p>
						</div>
						<div class="column width-5 offset-1 right">
							<img src="/images/portfolio/shiftcare/ux.png" alt=""/>
						</div>
					</div>
				</div>
				<div class="section-block">
					<div class="row">
						<div class="column width-12">
							<img src="/images/portfolio/shiftcare/ui.png" />
						</div>
					</div>
				</div>
				<!-- UI End -->
				
				{{ pagination("nanairo", "bsociable") }}

			</div>
			<!-- Content End -->

			{% include "_partials/footer.html" %}

		</div>
	</div>
	
	{% include "_partials/js_portfolio.html" %}
	{% include "_partials/ga.html" %}

</body>
</html>