{% from 'macros/portfolio.html' import slider, pagination %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% include "_partials/head.html" %}	
</head>

<body class="openspace">

	{% include "_partials/menu_mobile.html" %}

	<div class="wrapper reveal-side-navigation">
		<div class="wrapper-inner">

			{% include "_partials/header.html" %}

			<!-- Content -->
			<div class="content clearfix">
				
				{{ slider("openspace") }}
				
				<section id="brief" class="section-block">
					<div class="row">
						<div class="column width-10 offset-1 center horizon mb-20" data-animate-in="preset:slideInUpShort;duration:1000ms;" data-threshold="0.5">
							<h1 data-animate-in="preset:scaleOut;duration:1000ms;" class="tm-caption mb-30">Open Colleges Design System</h1>
						</div>
						<div class="column width-10 offset-1 center mb-100">
							<p class="lead weight-light">Modernise the Open Colleges learning experiences and build and sustain a design system.</p>
						</div>
						<div class="column width-8 offset-2 left mb-10">
							<h2>Background</h2>
							<p>OpenSpace is an online campus for students to access all their learning materials including videos and digital resources, assessments, grades and feedback. Through OpenSpace, students can also connect with their Trainers, Assessors, Program Managers, online support network and other students. As a designer in Open Colleges, we set out to build and sustain a design system. The design system would include components and assets needed to create a visual language and foundational component library.</p>
						</div>
						<div class="column width-8 offset-2 left mb-60">
							<p class="role"><strong>Role:</strong> UX Designer
							<br /><strong>Methods and Tools:</strong> Sketch, Adobe Illustrator
							<br /><strong>Team members:</strong> A Product Owner, and 2 Developers.</p>		
						</div>
						<div class="column width-8 offset-2 center">
							<img class="center" src="/images/portfolio/openspace/openspace-01.png" alt=""/>
						</div>
					</div>
				</section>
				<div class="section-block replicable-content bkg-charcoal color-white">
					<div class="row">
						<div class="column width-8 offset-2 left mb-40">
							<h2>Design Iteration</h2>
							<p>With a number of design iterations, we worked together with the Developers to update the styles of OpenSpace component by component.</p>
						</div>
						<div class="column width-12 center">
							<img class="center" src="/images/portfolio/openspace/openspace-02.png" alt=""/>
						</div>
					</div>
				</div>
				<div class="section-block replicable-content bkg-charcoal color-white no-padding-bottom">
					<div class="row">
						<div class="column width-8 offset-2 left mb-40">
							<h2>Design System</h2>
							<p>I took all our brand assets and developed it into a Sketch component library, so that it was easy for designers across the organisation to have the latest brand resources.</p>
						</div>
						<div class="column width-12 center">
							<img class="center" src="/images/portfolio/openspace/styleguide.jpg" alt=""/>
						</div>
					</div>
				</div>

				<!-- Icons Section -->
				<div class="section-block replicable-content">
					<div class="row">
						<div class="column width-8 offset-2 left mb-40">
							<h2>Iconography</h2>
							<p>Previously, we had icons all over the place in inconsistent styles. In this project, I created a set of pixel-aligned icons that would work for most use cases across the Open Colleges learning platform.</p>
						</div>
					</div>
					<div class="row flex">
						<div class="column width-3 offset-2 no-padding mb-20">
							<img src="/images/portfolio/openspace/icon-styleguide.png" alt="Open Colleges Icon Style">
						</div>
						<div class="column width-5 v-align-middle center">
							<p class="os-icons">
								<span class="icon-boxed color-grey icon-oc-home squared medium rounded"></span>
								<span class="icon-boxed color-grey icon-oc-search squared medium rounded"></span>
								<span class="icon-boxed color-grey icon-oc-buddy squared medium rounded"></span>
								<span class="icon-boxed color-grey icon-oc-add-buddy squared medium rounded"></span>
								<span class="icon-boxed color-grey icon-oc-briefcase squared medium rounded"></span>
								<span class="icon-boxed color-grey icon-oc-course-clone squared medium rounded"></span>
								<span class="icon-boxed color-grey icon-oc-check-doc squared medium rounded"></span>
								<span class="icon-boxed color-grey icon-oc-add-doc squared medium rounded"></span>
								<span class="icon-boxed color-grey icon-oc-message squared medium rounded"></span>
								<span class="icon-boxed color-grey icon-oc-message-sent squared medium rounded"></span>
								<span class="icon-boxed color-grey icon-oc-comment squared medium rounded"></span>
								<span class="icon-boxed color-grey icon-oc-discussion squared medium rounded"></span>
								<span class="icon-boxed color-grey icon-oc-happy squared medium rounded"></span>
								<span class="icon-boxed color-grey icon-oc-sad squared medium rounded"></span>
								<span class="icon-boxed color-grey icon-oc-like squared medium rounded"></span>
								<span class="icon-boxed color-grey icon-oc-rocket squared medium rounded"></span>
								<span class="icon-boxed color-grey icon-oc-support squared medium rounded"></span>
								<span class="icon-boxed color-grey icon-oc-highlight squared medium rounded"></span>
								<span class="icon-boxed color-grey icon-oc-calendar squared medium rounded"></span>
								<span class="icon-boxed color-grey icon-oc-upload squared medium rounded"></span>
								<span class="icon-boxed color-grey icon-oc-download squared medium rounded"></span>
								<span class="icon-boxed color-grey icon-oc-close squared medium rounded"></span>
								<span class="icon-boxed color-grey icon-oc-clock squared medium rounded"></span>
								<span class="icon-boxed color-grey icon-oc-notification squared medium rounded"></span>
							</p>
						</div>
					</div>
				</div>
				<!-- Icons Section End -->

				{{ pagination("wcag", "hdr") }}

			</div>
			<!-- Content End -->

			{% include "_partials/footer.html" %}

		</div>
	</div>

	{% include "_partials/js.html" %}
	{% include "_partials/ga.html" %}
	
</body>
</html>
